/*.o
/*.log
/zookd
/zookd-exstack
/zookd-nxstack
/zookd-withssp
/zookfs
/zookfs-exstack
/zookfs-nxstack
/zookfs-withssp
/zookld
/zookd2
/shellcode*.bin
/run-shellcode
/zoobar/db
/handin.tar.gz
__pycache__
/node_modules
/lab4-tests/*.png
/.well-known/acme-challenge
/export
